    .ASISTIO {
        background-color: #28a745;
        color: #fff;
    }
    
    .PENDIENTE {
        background-color: #007bff;
        color: #fff;
    }
    
    .PAGADO {
        background-color: #28a745;
        color: #fff;
    }
    
    .DEBE {
        background-color: #dc3545;
        color: #fff;
    }
    
    .PROMO {
        background-color: #ffc107;
        color: #fff;
    }